<h1>Welcome to Net Present Value Calculators</h1>

  <p>
    <label class="lbl">Cash Flows</label>
   
        <input class="input" type="number" [(ngModel)]="npvModel.cashFlow"/>
        <button class="btn" (click)="addToCashFlows()">Append To CashFlows</button>
        <button class="btn" (click)="resetCashFlow()">Reset</button>
  </p>
  <p>
    <textarea class="input-block input-width" [(ngModel)]="npvModel.cashFlows" disabled></textarea>
  </p>
  <p>
    <label class="lbl">Increment</label>
    <input class="input-block input-width" type="number" [(ngModel)]="npvModel.increment"/> 
  </p>
  <p>
    <label class="lbl">Upper Bound Discount Rate</label>
    <input class="input-block input-width" type="number" [(ngModel)]="npvModel.upperBound"/>
  </p>
  <p>
    <label class="lbl">Lower Bound Discount Rate</label>
    <input class="input-block input-width" type="number" [(ngModel)]="npvModel.lowerBound"/>
  </p>
  <p>
    <label class="lbl">Initial Cost</label>
    <input class="input-block input-width" type="number" [(ngModel)]="npvModel.initialCost"/>
  </p>
  <p>
    <button class="btn" (click)="calculateNpvParameters()">Calculate</button>
  </p>

<div>
 
</div>
<div *ngIf="npvList">
  <table>
    <thead>
      <td>Cash Flow</td>
      <td>Discount Rate</td>
      <td>Initial Cost</td>
      <td>NPV</td>
    </thead>
    <tbody>
      <tr *ngFor="let npvItem of npvList">
        <td>{{npvItem.cashFlowSummary}}</td>
        <td>{{npvItem.discountRate}}</td>
        <td>{{npvItem.initialCost}}</td>
        <td>{{npvItem.npv}}</td>
      </tr>
    </tbody>
  </table>
</div>
