<h1>Welcome to Net Present Value Calculators</h1>

<div>
  <table>
    <thead>

    </thead>
    <tbody>
      <tr>
        <td>
          Cash Flows
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
           
            <div>
                <input type="number" [(ngModel)]="npvModel.cashFlow"/>
                <button (click)="addToCashFlows()">Append To CashFlows</button>
            </div>
           
           
        </td>
       
      </tr>
      <tr>
          <td>
            <textarea [(ngModel)]="npvModel.cashFlows" disabled></textarea>
          </td>
      </tr>
      <tr>
          <td>
              Increment
          </td>
      </tr>
      <tr>
          <td><input type="number" [(ngModel)]="npvModel.increment"/></td>
      </tr>
      <tr>
        <td>
            Upper Bound Discount Rate
        </td>
    </tr>
    <tr>
        <td><input type="number" [(ngModel)]="npvModel.upperBound"/></td>
    </tr>
    <tr>
        <td>
            Lower Bound Discount Rate
        </td>
    </tr>
    <tr>
        <td><input type="number" [(ngModel)]="npvModel.lowerBound"/></td>
    </tr>
    <tr>
        <td>
            Initial Cost
        </td>
    </tr>
    <tr>
        <td><input type="number" [(ngModel)]="npvModel.initialCost"/></td>
    </tr>
      <tr>
          <td>
            <button (click)="calculateNpvParameters()">Calculate</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
